<% title " - Jobs" %>
<div class="content">
	<h1>Jobs</h1>
	<table>
		<tr style="text-align:left;">
			<th>ID</th>
			<th>Name</th>
			<th>P.O.</th>
			<th>Customer</th>
			<th>Owner</th>
			<% if admin? || current_user.customer == "In Ternal" %>
			<th>Internal Owner</th>
			<% end %>
			<th>Status</th>
			<th>Modified</th>
			<th>Due</th>
		</tr>
		<% for job in @jobs %>
			<tr id="job_<%= job.id %>">
				<td><%= job.id %></td>
				<!-- <td><%= job.name %></td> -->
				<td><%= link_to job.name, job_path(job) %></td>
				<td><%= job.purchaseOrder %></td>
				<td><%= job.customer %></td>
				<td><%= job.owner %></td>
				<% if admin? || current_user.customer == "In Ternal" %>
				<td><%= job.internalOwner %></td>
				<% end %>
				<td><%= job.status %></td>
				<td><%= job.modified %></td>
				<td><%= job.due %></td>
				<!-- ADMIN RESTRICTED -->
				<% if admin? || current_user.customer == "In Ternal" %>
				<td>&nbsp;<%= link_to 'Edit', edit_job_path(job) %></td>
				<td>&nbsp;<%= link_to 'Delete', job, :method => 'delete' %></td>
				<% end %>
				<!-- END ADMIN RESTRICTED -->
			</tr>
		<% end %>
	</table>
	<br /><br />
	<!-- ADMIN RESTRICTED -->
	<% if admin? || current_user.customer == "In Ternal" %>
	<%= link_to "New Job", jobs_path, :method => :post %>
	<% end %>
	<!-- END ADMIN RESTRICTED -->
</div>