<% title " - Job" %>
<div class="content">
	<h2>#<%= @job.id %></h2>
	<h3><%= @job.name %></h3>
	<h4>Purchase Order: <%= @job.purchaseOrder %></h4>
	<h4>For: <%= @job.owner %> / <%= @job.customer %></h4>
	<% if admin? || current_user.customer == "In Ternal" %>
	<h4>2G Rep: <%= @job.internalOwner %></h4>
	<% end %>
	<h4><%= @job.status %></h4>
	<% if @job.status == "In Process" || @job.status == "Quoted" || @job.status == "Quoting" %>
		<h5>Due: <%= @job.due %></h5>
	<% end %>
	<!-- ##### Part Table ##### -->
	<table>
		<tr style="text-align:left;">
			<th>Part Number:</th>
			<th>Qty:</th>
			<th>&nbsp;</th>
		</tr>
		<% for part in @job.parts %>
		<tr id="part_<%= part.id %>">
			<td><%= link_to part.partNumber, part_path(part) %></td>
			<td><%= part.partQuantity %></td>
			<td>
				<% if admin? || current_user.customer == "In Ternal" %>
					&nbsp;<%= link_to 'Delete', part, :method => 'delete' %>
				<% end %>
			</td>
		</tr>
		<% end %>
		<tr>
			<%= form_for @job.parts.create do |f| %>
			<td><%= f.text_field :partNumber %></td>
			<td><%= f.text_field :partQuantity %></td>
			<%= f.hidden_field :job_id, :value => @job.id %>
			<td><%= f.submit %></td>
			<% end %>
		</tr>
	</table>
	<!-- ##### Part Table ##### -->
	<br /><br />
	<!-- ADMIN RESTRICTED -->
	<% if admin? || current_user.customer == "In Ternal" %>
	&nbsp;<%= link_to 'Edit', edit_job_path(@job) %>
	&nbsp;<%= link_to 'Delete', @job, :method => 'delete' %>
	<% end %>
</div>
