<h1>Users</h1>
<table>
	<tr>
		<th>User Name</th>
		<th>Full Name</th>
		<th>Email</th>
		<th>Customer</th>
		<th>Admin</th>
		<th>&nbsp;</th>
	</tr>
	<% for user in @users %>
		<tr id="user_<%= user.id %>">
			<td><%= user.username %></td>
			<td><%= user.fullname %></td>
			<td><%= user.email %></td>
			<td><%= user.customer %></td>
			<td><%= user.admin %></td>
			<td><%= link_to 'Edit', edit_user_path(user) %></td>
			<td>| <%= link_to 'Delete', user, :method => 'delete' %></td>
		</tr>
	<% end %>
</table>
<br /><br />
<%= link_to "New User", users_path, :method => :post %>
