<h1>Users</h1>
<table>
	<tr style="text-align:left;">
		<th>User Name</th>
		<th>Full Name</th>
		<th>Email</th>
		<th>Customer</th>
		<!-- ADMIN RESTRICTED -->
		<% if admin? %>
		<th>Admin</th>
		<% end %>
		<!-- END ADMIN RESTRICTED -->
		<th>&nbsp;</th>
	</tr>
	<% for user in @users %>
		<tr id="user_<%= user.id %>">
			<td><%= user.username %></td>
			<td><%= user.fullname %></td>
			<td><%= user.email %></td>
			<td><%= user.customer %></td>
			<!-- ADMIN RESTRICTED -->
			<% if admin? %>
			<td><%= user.admin %></td>
			<% end %>
			<!-- END ADMIN RESTRICTED -->
			<!-- ADMIN RESTRICTED -->
			<% if admin? %>
			<td><%= link_to 'Edit', edit_user_path(user) %></td>
			<td>| <%= link_to 'Delete', user, :method => 'delete' %></td>
			<% end %>
			<!-- END ADMIN RESTRICTED -->
		</tr>
	<% end %>
</table>
<br /><br />
<!-- ADMIN RESTRICTED -->
<% if admin? %>
<%= link_to "New User", users_path, :method => :post %>
<% end %>
<!-- END ADMIN RESTRICTED -->
